body{
  background-color: #77c59c;
}

.head{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 4px;
  text-align: center;
  padding: 100px;
}

.filters{
  text-align: center;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.quote-box {
  padding: 20px;
  border: 2px solid #1f1c1c;
  border-radius: 10px;
  margin:auto;
  position: relative;
  top: -50px;
  height: 150px;
  width: 700px;
  background-color: #d1e1c1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.quote{
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
}

.button{
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  background-color: #d1e1c1;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  height: 40px;
  width: 220px;
  position: relative;
  left: 43%;
  top: -50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.genre{
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  text-align: center;
  background-color: #d1e1c1;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  height: 40px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50px;
}

.authors{
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  text-align: center;
  background-color: #d1e1c1;
  border: 1px solid;
  border-color: #000000;
  border-radius: 100px;
  height: 40px;
  width: 150px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 50px;
}

.button:hover {
  background-color: #699a8e; /* Change to the desired background color on hover */
}